@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* General */
html{
    font-family: 'Montserrat';
    background-color: #e0e0e0;
    
}

.center {
    margin: auto;
  }

.img_center{
    display: block;
margin-left: auto;
margin-right: auto;
}

.bold{
    font-weight: bold;
}

.taskEntry{
    display:table;
    font-size: 15px;
}

.bizamap .select-wrapper input.select-dropdown {
    border-bottom: 1px solid #ee6e73;
}

.bk-root .select-wrapper .select-dropdown {
    display: none;
}

.bk-root .select-wrapper .caret {
    display: none;
}

.row{
    margin:0px;
}
/* simulation list */

.nosimulation-wrapper{
    margin-top: 100px;
    padding:80px 0px;
    border: 6px solid #9e9e9e;
    border-style: dashed;
}

.nosimulation-wrapper h3{
    padding: 10px;
    margin-bottom: 50px;
}

.listTitle{
    font-size:13px;
}
/* simulation detail statistics */


.section-stats h1{
    font-size: 4vw;
    margin:15px 0px;
}
@media(max-width:992px){
.section-stats h1{
    font-size: calc(16px + 6vw);
}
}

/* simuations */

.section-simulations button{
    padding:0px 40px;
    font-weight: bold;
    text-shadow: 0px 3px 4px rgba(0,0,0,0.25);
    background-color: #ee6e73; 
}

.section-simulations .simulation{
    font-size: 16px;
    border-radius: 0;
    margin:0;
}

.section-simulations li:nth-child(even) .simulation{
    background-color: #f2f2f2;
}

/* Form */

.checkboxWeek{
    padding-left: 20px !important;
    padding-right: 5px;
}

.ajaxProgress{
    display:none;
    text-align: center;
}

.ajaxProgress2{
    display:none;
    text-align: center;
}

.ajaxProgress3{
    display:none;
    text-align: center;
}

.bg {
    background-image: url("../images/web/header-bg.jpg") !important;
    height: 620px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    z-index: -1;
}

.bg_edar {
    background-image: url("../images/web/header-bg_edar.jpg") !important;
    height: 620px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    z-index: -1;
}
.home-btn {
    background-color: #ffff;
    line-height: 36px;
    padding-left: 30px;
    padding-right: 60px;
    border-radius: 25px;
    border: none;
    color: #000;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
  }

  .home-btn {
    background: #fff;
    border: 1px solid transparent;
    color: #222;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50px;
  }

  nav {
    color: #fff;
    background-color: rgb(27, 27, 27) !important;
  }


.section-simulations button:hover{
    padding:0px 40px;
    font-weight: bold;
    text-shadow: 0px 3px 4px rgba(0,0,0,0.25);
    background-color: #ff8f92; 
}

.btn-add button:hover{

    background-color: #ff8f92; 
}

  .navigation span {
    padding-bottom: 0px;
    display: inline-block;
  }
  .navigation .material-icons {
    font-size: 21px;
    vertical-align:top;
  }

  .pending{
    font-size: 10px;
    border: none;
    font-weight: bold;
    border-radius: 2px;
    padding:5px 5px 5px;;
    color: rgb(15, 15, 15);
    background-color: #b3b3b3;
    text-align: center;
  }


.ES,.ZA,.unknown{
    display:none;
}

.Fade{
    opacity:0;
}


@media ( max-width : 500px) {
    .contador{
      width: 100%;
    }
  }

  .lead{
    padding:3px 3px 0px;;
    background-color: #fff;    
  }

.containerPlan{
    padding: 10px 20px 10px 20px;
    width:100%;
}

.containerIndex{
    padding: 10px 100px 10px 100px;
    width:90%;
}

.containerBasic{
    padding: 10px 100px 10px 100px;
    width:100%;
}

.card-panel2{
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    background-color: rgb(236, 236, 236);
}

/* SWIPH */

.disabled {
    pointer-events: none;
    opacity: 0.4;
}